body{
    background: white;
}
.card-title{
    display: flex;
    color: lightblue;
}
.text{
    display: flex;
}
.imagebox{
    display: flex;
}
.card{
    width: 20%;
    background-color: white;
    border: none;
}
.img-keyboard, img{
    float: right;
}
