

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <p>Your E-mail</p>
        </div>
        <div class="col-10">
            <div class="form-floating">
                    <input type="email" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                    <label for="inputPassword5">Your email</label>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-2">
            <p>Your message</p>
        </div>
        <div class="col-10">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Please enter your message here</label>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
