<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <p class="float-end">your email</p>
        </div>
        <div class="col-10">
            <div class="form-floating mb-3">
                <input type="email" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <label for="inputPassword5">your email

                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p class="float-end">your message
            </p>
        </div>
        <div class="col-10">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="yourmessagehere5">please input your message here

                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="form-floating mb-3">
                     <button class="btn btn-primary me-md-2" type="button">SUBMIT</button>
            </div>
        </div>
    </div>
</div>