<div class="container-sm ">
    <div class="row">
        <div class="col-3">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin vestibulum neque non
                malesuada. Nam lobortis quis turpis quis maximus. Donec sit amet metus sed purus ullamcorper rutrum.
                Nunc dignissim.</p>
        </div>
    </div>
    <div class="bg-light">
        <div class="row">
            <div class="col-12 col-sm-3 d-none d-sm-block">
                <p class="float-start float-sm-end mt-3 px-2">Your E-mail</p>
            </div>
            <div class="col-12 col-sm-9 ">
                <div class="me-md-2">
                    <input class="w-100 mt-2 mb-3 me-2 ps-2 " id="emailarea" type="email" style="height: 39px;"
                        placeholder="Your email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-3 d-none d-sm-block">
                <p class="float-start float-sm-end mt-3">Your message</p>
            </div>
            <div class="col-12 col-sm-9">
                <div class=" form-floating me-md-2">
                    <textarea class="form-control " id="floatingTextarea2" style="height: 100px; width: 100%"></textarea>
                    <label for="floatingTextarea2" class="fs-5 opacity-50">Please enter your message here</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-grid d-sm-grid d-md-flex justify-content-md-end gap-3">
                    <button class="btn btn-primary btn-lg me-md-2 my-3" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
