

    <hr>
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-sm-6">
                <img src="./assets/img/2.jpg" class="rounded-circle img-keyboard" alt="My test image"></img>
            </div>
            <div class="col-sm-6">
                <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa consectetur sed quis, optio repudiandae quas voluptate! Voluptatibus autem sapiente ab! Ratione quidem dolorum adipisci at officia laudantium obcaecati accusantium.</p>
            </div>
        </div>
    </div>
    <hr>

