<div class="headingbox">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">

                <h1>
                    <span>This First Heading</span>
                    <span style="color:rgb(133, 130, 130);">Will Catch Your Eye</span>
                </h1>

                <div class="textbox">
                    <p>Donec at tellus at urna condimentum mattis
                        pellentesque id
                        nibh tortor
                        id aliquet lectus proin nibh nisl condimentum id venenatis
                        a condimentum vitae sapien
                        pellentesque habitant. </p>
                </div>
            </div>
            <section>
                <div class="col">
                    <div class="whw">
                        <img src="./assets/img/1.jpg" alt="">
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
<style>
    section img {
        border-radius: 100%;
        width: 360px;
        height: 380px;
        position: relative;
        bottom: 240px;
        right: 100px;
    }

    h1 {
        font-size: 38px;
        font-weight: 600;
        font-stretch: normal;
        padding-left: 40px;

    }

    .headingbox {
        font-family: Arial, Helvetica, sans-serif;
        height: 500px;
        border-top: 1px solid rgb(238, 238, 238);
        padding-top: 100px;
    }

    .textbox {
        padding-left: 40px;
        font-weight: 500;
        font-size: 21px;
        line-height: 1.5;
        word-wrap: break-word;
        width: 700px;
        padding-top: 5px;
        padding-bottom: 10px;

    }
    
</style>

</div>